#production {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#production > h1 {
    margin: 3rem 0 0 6rem;
}

#production__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 2rem 6rem;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

.production__card {
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 300px;
    max-height: 30%; 
    padding: 0 1rem;
    transition: 200ms ease filter;
    user-select: none;
    cursor: pointer;
    flex: 1 0 200px;
    animation: scale-up-center 0.6s;
}

.production__card .production__station {
    margin: 0;
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 20px 20px 0 0;
    padding: 0.5rem 1rem;
    color: #858585;
    font-size: 16px;
}

.production__card .production__card_content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.production__card_content .production__plane_graph {
    filter: opacity(0.5);
}

.production__plane_graph:hover {
    filter: opacity(1);
}

.production__card_content .production__card_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.production__card_description .production__flag {
    width: 45px;
    height: auto;
    border-radius: 3px;
}

.production__card_description .production__msn {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.production__card > .production__card_content.delivered {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    gap: 1rem;
}

.production__card_content.delivered > div {
    display: flex;
    justify-content: space-around;
}

.production__card_content.delivered .production__flag {
    width: 25px;
}

.production__card_content.delivered .production__delivered_plane {
    width: 80px;
    height: auto;
    filter: hue-rotate(300deg);
}

.production__card_content.delivered .production__msn {
    font-size: 10px;
}


@media(max-width:500px) {
    #production {
        align-items: center;
        padding-top: 2rem;
        gap: 1rem;
    }

    #production > h1 {
        margin: 0;
    }

    .production__card {
        flex: 1 0 300px;
        width: 100%;
    }


    .production__card_content .production__card_description {
        gap: 10px;
        text-align: center;
    }

    .production__card .production__card_content {
        gap: 2rem;
    }

    .production__card_description .production__flag {
        width: 40px;
    }

    .production__card_description .production__msn {
        font-size: 12px;
    }
}
