#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("../../assets/img/webp_img/Portada.webp");
    background-position: center;
    background-size: cover;
    scroll-snap-align: start;
    text-align: center;
}

.home__title {
    color: white;
    font-size: 50px;
    animation: blur-in-expand 0.8s linear both
}


.button {
    position: relative;
    overflow: hidden;
    height: 4rem;
    width: 12rem;
    border-radius: 2rem;
    background: #ffffff;
    background-size: 400%;
    color: #858585;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    font-size: 20px;
    position: relative;
    z-index: 1;
    font-weight: 900;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    /* background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    ); */
    background: rgb(0, 85, 135);
    background: linear-gradient(90deg, rgba(0, 85, 135, 1) 0%, rgba(0, 32, 91, 1) 100%);
    transition: all 0.475s;
}


@media(max-width:500px) {
    .home__title {
        color: white;
        font-size: 25px;
    }
}

@keyframes blur-in-expand {
    0% {
        transform: scale(0);
        filter: blur(12px);
        opacity: 0
    }

    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1
    }
}
